.footer-contact
    font-size: 12pt !important
    .pbx-info
        font-size: .8em
    .nav-item
        a
            font-size: .6em !important
            color: white
        i
            margin-right: 10px
    .rnt-link
        color: #E0831F !important
        font-size: 1.5em !important
        text-decoration: underline
.rgc-widget-dollar
    position: fixed
    right: 0
    bottom: 9em
    background-color: $primary-color
    color: white
    display: flex
    flex-direction: column 
    border-top-left-radius: 20px
    border-bottom-left-radius: 20px
    span, p
        color: white
        display: block
    p
        margin-bottom: 0
        color: $secondary-color

@media screen and ( max-width: 480px )
    .rgc-widget-dollar
        display: none !important
    
        