.rgc-sub-heading-section
    color: white
    h2
        color: white
    h3
        color: white
    .rgc-intro
        &__left
            font-size: 2em
            border-right: 2px solid white
            span
                font-family: $primary-font !important
            h2
                line-height: 1em !important
        &__right
            h3
                font-family: $secondary-font !important