.rgc-package-features
    &__box
        color: $dark
        font-size: 2em
        i
            color: $primary-color
.rgc-package-conditions
    &__box
        background-color: $primary-color
        color: white
        &-title
            color: white
        p, ul
            color: white
            font-size: .9em
.rgc-assesor
    &__box
        display: flex
        flex-direction: column
        text-align: center
        justify-content: center
        color: $primary-color
        i
            font-size: 4em
            margin-bottom: 10px
        a
            font-size: 1em !important
            color: $primary-color
            transition: all .3s
            display: inline-block
            &:hover
                color: $dark
    div:nth-child(even)
        border-left: 2px solid $primary-color
        border-right: 2px solid $primary-color
            