.embed-responsive
  .embed-responsive-item
    width: 100%
    min-height: 520px

.elementor-page-55
    .rgc-search-box
        display: none
    .sub-heading-section
      .breadcrumbs
          display: none