.embed-responsive
  .embed-responsive-item
    width: 100%
    min-height: 520px

.elementor-page-55
  .rgc-search-box
    display: none
  .sub-heading-section
    padding: 4em !important
    .breadcrumbs
      display: none
    .container
      h1
        font-size: 90px
